:root{
     --primary-color:rgb(218, 125, 218);
    --secondary-color:aqua;
    --text-color:green;
    --button-color:2px solid rgb(0, 0, 255);  

}

h1{
    color: var(--primary-color);
}
h3{
    color: var(--secondary-color);
}
p{
    color: var(--text-color);
}
th{
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
}hj
td{
    background-color: lightgray;
    color: black;
    padding: 10px;
}
button{
    background-color: 0px solid rgb(150, 0, 255);
    color: black;
    padding: 10px 20px;
  
}

